name: ci

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint
    strategy:
      matrix:
        go-version-file: [ go.mod, .tool-versions ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: ${{ matrix.go-version-file }}

      - uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          only-new-issues: true
          args: --timeout=3m
